@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

nav {
    /* background-color: rgb(255, 180, 40, 0.1); */
    text-align: right;
}

p {
    font-size: 18px;
}

.navigation {
    padding: 10px 200px;
}

.btn {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 40px;
    background-color: rgb(199, 222, 224);
}

.btn:hover {
    background-color: rgb(159, 178, 180);
}

.pink-button {
    background-color: rgb(235, 84, 109);
    border: none;
    color: white;
}

.pink-button:hover {
    background-color: rgb(196, 70, 91);
    border: none;
    color: white;
}

.hero {
    padding: 10px 200px;
}

.landing-hero {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 80vh;
    background-image: url("img/bg.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
}

.landing-hero h1 {
    font-size: 50px;
}

.landing-hero p {
    font-size: 22px;
    width: 70%;
}

.landing-hero img {
    width: 700px;
}

.landing-2 {

    background-color: #e9f8fd;
    /* background-color: rgb(232, 232, 232); */
    min-height: 60vh;
    height: auto;
}

.landing-2 img {
    width: 300px;
    height: auto;
}

.landing-3 .number h1 {
    font-size: 60px;
}

.landing-3 {
    padding: 10px 400px;
}

.landing-4 {
    background-color: rgba(200, 200, 200, 0.186);
}

.landing-4 img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.off-service-1 {
    width: 50%;
}

.off-service-2 {
    width: 50%;
}

.end-consul {
    background-color: rgb(255, 225, 236);
}

.footer {
    background-color: rgb(179, 208, 224);
}

.footer img {
    width: 30px;
}

.classes .number h1 {
    font-size: 60px;
}

.classes {
    padding: 10px 400px;
}





/* MEDIA QUERIES */
@media (max-width:1400px) {
    .landing-3 {
        padding: 10px 250px;
    }
}

@media (max-width: 1200px) {
    .navigation {
        padding: 10px 150px;
    }

    .hero {
        padding: 10px 150px;
    }
}

@media (max-width: 992px) {
    .navigation {
        padding: 10px 100px;
    }

    .hero {
        padding: 10px 100px;
    }

    .landing-2 img {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 10px 50px;
    }

    .navigation {
        padding: 10px 50px;
    }
}

@media (max-width: 576px) {
    .navigation {
        padding: 10px 0px;
    }

    .landing-hero h1 {
        font-size: 26px;
    }

    .landing-hero p {
        font-size: 14px;
        width: 100%;
    }

    .hero {
        padding: 0px 0px;
    }

    .landing-2 {
        padding: 10px 0;
    }

    .landing-2 img {
        display: none;
    }

    .landing-2 p {
        font-size: 14px;
    }

    .landing-3 .number h1 {
        font-size: 40px;
    }

    .landing-3 {
        padding: 10px 0px;
    }

    .landing-3 .hero-text .whys .why,
    .class {
        flex-direction: column;
    }

    .landing-4 .offered-services {
        flex-direction: column;
    }

    .classes .class h1 {
        font-size: 40px;
    }

    .off-service-1,
    .off-service-2 {
        width: 100%;
        padding-bottom: 10px;
    }
}