@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    text-align: right;
}

p {
    font-size: 16px;
}

.navigation {
    padding: 10px 200px;
}

.navigation img {
    max-width: 200px;
}

.btn {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 40px;
    background-color: rgb(197, 228, 230);
}

.btn:hover {
    background-color: rgb(210, 232, 233);
}

.pink-button {
    background-color: rgb(235, 84, 109);
    border: none;
    color: white;
}

.pink-button:hover {
    background-color: rgb(196, 70, 91);
    border: none;
    color: white;
}

.hero {
    padding: 10px 200px;
}

.landing-hero {
    background-color: rgba(0, 0, 0, 0.675);
    min-height: 85vh;
    background-image: url("img/bg.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
}

.landing-hero h1 {
    font-size: 50px;
}

.landing-hero p {
    font-size: 22px;
    width: 70%;
}

.landing-hero img {
    width: 700px;
}

.landing-2 {
    background-color: #e9f8fd;
    min-height: 60vh;
    height: auto;
}

.landing-2 .text-2 {
    width: 70%;
}

.landing-2 .text-2 p {
    font-size: 22px;
}

.landing-2 h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.landing-2 p {
    font-size: 16px;
    padding-bottom: 10px;
}

.landing-2 img {
    width: 500px;
    height: auto;
}

.landing-hero .hero-text {
    padding: 0;
}

.landing-3 h1 {
    font-size: 40px;
}

.landing-3 .number h1 {
    font-size: 60px;
}

.landing-3 {
    padding: 10px 400px;
}

.landing-4 h1 {
    font-size: 40px;
}

.landing-4 img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.off-service-1 {
    width: 50%;
}

.off-service-2 {
    width: 50%;
}

.end-consul {
    background-color: rgb(255, 225, 236);
}

.footer {
    background-color: rgb(179, 208, 224);
}

.footer img {
    width: 30px;
}

.classes .number h1 {
    font-size: 60px;
}

.classes {
    padding: 10px 400px;
}

.services-hero {
    min-height: 60vh;
    background-color: rgba(0, 0, 0, 0.701);
    background-image: url("img/services.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
}

.services-hero2 {
    min-height: 40vh;
}

.services-hero3 {
    padding-bottom: 60px;
}

.services-hero3 img {
    max-width: 400px;
}

#navlist {
    list-style-image: url("img/check.png");
    line-height: 40px;
}

.about-landing {
    min-height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("img/about.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    color: white;
}

.about-info {
    /* width: 100%;
    margin: 0;
    padding: 0; */
}

.aboutMe {
    /* background-color: orange; */
    width: 100%;
}

.info {
    /* background-color: rgb(90, 151, 151); */
}

.info-text {
    width: 100%;
}

.contact-hero {
    min-height: 75vh;
}

.contact {
    display: flex;
    align-items: flex-start;
    min-height: 40vh;
    width: 100%;
}

.contact-text {
    width: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.contact-form {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-form form {
    padding-bottom: 20px;
    width: 100%;
}

.contact-form form label {
    font-family: "Inter";
}



/* MEDIA QUERIES */
@media (max-width:1400px) {
    .landing-3 {
        padding: 10px 250px;
    }
}

@media (max-width: 1200px) {
    .navigation {
        padding: 10px 150px;
    }

    .hero {
        padding: 10px 150px;
    }

    .landing-2 img {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 992px) {
    .navigation {
        padding: 10px 100px;
    }

    .hero {
        padding: 10px 100px;
    }

    .landing-2 img {
        width: 150px;
        height: auto;
    }

    .services-hero3 .all-services {
        /* background-color: orange; */
        display: flex;
        flex-direction: column-reverse;
    }

    .services-hero3 img {
        max-width: 350px;
        padding-bottom: 50px;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 20px;
        padding-right: 0px;
    }

    .contact-form {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 10px 50px;
    }

    .navigation {
        padding: 10px 50px;
    }

}

@media (max-width: 576px) {
    .navigation img {
        max-width: 150px;
    }

    .hero {
        padding: 0px 12px;
    }

    .navigation {
        padding: 0px 0px;
    }

    .services-hero {
        padding: 0px 0px;
    }

    .services-hero .text-2 {
        padding: 0;
        margin: 0;
    }

    .services-hero3 img {
        max-width: 250px;
        padding-top: 20px;
    }

    .landing-hero h1 {
        font-size: 36px;
    }

    .landing-hero p {
        font-size: 14px;
        width: 100%;
    }

    .landing-2 {
        padding: 10px 0;
    }

    .landing-2 img {
        display: none;
    }

    .landing-2 p {
        font-size: 14px;
    }

    .landing-3 .number h1 {
        font-size: 40px;
    }

    .landing-3 {
        padding: 10px 0px;
    }

    .landing-3-header h1 {
        text-align: center;
    }

    .landing-3 .hero-text .whys .why,
    .class {
        flex-direction: column;
    }

    .landing-4 .offered-services {
        flex-direction: column;
    }

    .classes .class h1 {
        font-size: 40px;
    }

    .off-service-1 p {
        margin-bottom: 50px;
    }

    .off-service-1,
    .off-service-2 {
        width: 100%;
        padding-bottom: 10px;
        /* background-color: orange; */
    }

    .all-services {
        display: flex;
        flex-direction: column;
    }

    .pink-button {
        background-color: rgb(235, 84, 109);
        border: none;
        color: white;
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

}